.container {
  height: calc(100vh - 100px);
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  overflow: hidden;
  position: relative;
  display: flex;
  .arrow {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    bottom: 0;
    color: white;
    margin: 0 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .arrowRight {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    bottom: 0;
    color: white;
    margin: 0 1rem;
    cursor: pointer;
    z-index: 10;
    right: 0;
  }
  .wrapper {
    width: 300vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    .imageContainer {
      display: flex;
      //justify-content: space-between;
      width: 100vh;
      height: 100%;
      position: relative;
      //align-items: center;

      .texts{
        display: flex;
        margin: 5rem;
        
      }
      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }

      .slideActive {
        opacity: 1;
        transition-duration: 1s;
        transform: all 1.5s ease-in-out;
      }
    }
  }
}
